<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="style.css"
    <title>Bike</title>
</head>
<body>
     <div Class= "Container"

     <ul>
        <li><a href="#"">Home</a></li>
        <li><a href="#"">Services</a></li>
        <li><a href="#"">Contact</a></li>
        <li><a href="#"">About us</a></li>
     </ul>
     <div Class="thumbnail">
        <li><img src="image1.png"></li>
        <li><img src="image2.png"></li>
        <li><img src="image3.png"></li>
     </div>
     
        

</body>
</html>